<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/x-icon" href="/static/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/static/css/main.css" rel="stylesheet" />
  <title>{{ .Title }}</title>

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description"
    content="Please join us on 10th August 2025, for the marriage registry ceremony of Abanti and Biplob." />
  <meta property="og:image" content="{{ .ImageUrl }}" />
  <meta property="og:url" content="{{ .CardUrl }}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="{{ .Title }}" />
</head>

<body class="bg-white dark:bg-gray-800">
  <!-- HEADER-->
  {{ template "banner" .User }}
  <!-- MAPS LINK SHARE -->
  {{ template "maps-modal" }}
  <!-- LINK SHARE MODAL -->
  {{ template "link-modal" . }}
  <!-- RSVP MODAL -->
  {{ template "rsvp-modal" .User }}
  <!-- EMBED CONTENT HERE -->
  {{ template "card" }}
  <!-- FOOTER -->
  {{ template "footer" }}
</body>

</html>
