<div id="header-banner" tabindex="-1"
    class="fixed z-50 flex flex-col md:flex-row justify-between w-[calc(100%-2rem)] p-4 -translate-x-1/2 bg-white border border-gray-100 rounded-lg shadow-xs lg:max-w-7xl left-1/2 top-6 dark:bg-gray-700 dark:border-gray-600">
    <div class="flex flex-col items-start mb-3 me-4 md:items-center md:flex-row md:mb-0">
        <a href="https://flowbite.com/"
            class="flex items-center mb-2 border-gray-200 md:pe-4 md:me-4 md:border-e md:mb-0 dark:border-gray-600">
            <img class="h-12 w-12 hidden dark:block" src="/static/img/logo-dark.svg" />
            <img class="h-12 w-12 dark:hidden" src="/static/img/logo-light.svg" />
            <span class="ml-3 self-center text-lg font-semibold whitespace-nowrap dark:text-white">Save the Date</span>
        </a>
        <p class="flex items-center text-sm font-normal text-gray-500 dark:text-gray-400">You are cordially invited to
            join us for a small celebration</p>
    </div>
    <div class="flex items-center shrink-0">
        <a href="#" class="text-red-400 hover:text-red-500">
            <svg class="h-5 w-5" fill="currentColor" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                <g>
                    <g>
                        <path d="M256,0C154.739,0,72.348,82.386,72.348,183.652c0,70.241,18.514,94.635,169.771,320.929
			C245.217,509.217,250.424,512,256,512s10.782-2.783,13.881-7.418c151.251-226.216,169.771-251.423,169.771-320.929
			C439.652,82.386,357.261,0,256,0z M256,267.13c-46.032,0-83.478-37.446-83.478-83.478c0-46.032,37.446-83.478,83.478-83.478
			s83.478,37.446,83.478,83.478C339.478,229.684,302.032,267.13,256,267.13z" />
                    </g>
                </g>
            </svg>
        </a>
        <button onclick="dismissHeaderBanner()" type="button"
            class="shrink-0 inline-flex justify-center w-7 h-7 items-center text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close banner</span>
        </button>
    </div>
</div>
<div id="header-info" class="hidden fixed z-50 justify-end flex w-[calc(100%-2rem)] p-4">
    <button onclick="showHeaderBanner()"
        class="h-fit w-fit p-1 rounded-full bg-gray-400 hover:bg-gray-100 text-white hover:text-gray-500 dark:bg-gray-100 dark:text-gray-500 dark:hover:text-white dark:hover:bg-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor"
            class="h-6 w-6 font-bold">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
        </svg>
    </button>
</div>
<script src="/static/js/header.js"></script>
